# No build / target directories
*/target

# Ignore class files
*.class
# Ignore vim swp files
.*.swp

.idea/*
atlassian-ide-plugin.xml
*.iml

Google Docs Share/src/main/amp/config/alfresco/web-extension/custom-slingshot-googledocs-context.xml
Google Docs Repository/src/main/oauth-client-resources/**
Google Docs Repository/src/main/amp/config/alfresco/subsystems/googledocs/drive/google-customResponse-context.xml