# No build / target directories
*/target

# Ignore class files
*.class
# Ignore vim swp files
.*.swp

.idea/*
atlassian-ide-plugin.xml
*.iml

.vscode
.dccache
.java-version

alfresco-googledrive-share/src/main/amp/config/alfresco/web-extension/custom-slingshot-googledocs-context.xml
alfresco-googledrive-repo-community/src/main/oauth-client-resources/**
alfresco-googledrive-repo-community/src/main/amp/config/alfresco/subsystems/googledocs/drive/google-customResponse-context.xml
alfresco-googledrive-repo-enterprise/src/main/oauth-client-resources/**
alfresco-googledrive-repo-enterprise/src/main/amp/config/alfresco/subsystems/googledocs/drive/google-customResponse-context.xml